<div class="flex flex-col lg:flex-row">
  <section class="hidden lg:block sticky top-0 h-screen">
    <div class="flex flex-col w-64 h-full px-4 py-8 bg-base-light-b dark:bg-base-dark-b border-r border-accent-light dark:border-accent-dark">
      <h2 class="text-3xl font-semibold text-text-light dark:text-text-dark">Portfolio</h2>

      <div class="flex flex-col justify-between flex-1 my-6 border-b border-accent-light dark:border-accent-dark">
        <nav>
          <a *ngFor="let i of navigationItems"
             [ngClass]="{ 'underline decoration-accent-light dark:decoration-accent-dark': currentlyVisibleComponentId === i.componentId }"
             class="flex items-center px-4 py-2 mt-5 text-text-light dark:text-text-dark transition-colors duration-200
              transform rounded-md hover:bg-accent-light dark:hover:bg-accent-dark"
             (click)="viewPortScroller.scrollToAnchor(i.componentId)">
            <div [innerHTML]="htmlSanitizer.sanitize(i.svgHtml)"></div>
            <span class="cursor-pointer mx-4 font-medium">{{ i.title }}</span>
          </a>
        </nav>
      </div>
      <div class="flex justify-between items-center w-full text-text-light dark:text-text-dark">
        <div class="flex justify-center items-center space-x-2">
          <div>
            <img class="h-10 w-10 rounded-full"
                 src="assets/profile_avatar.webp"
                 alt="avatar">
          </div>
          <div class="flex justify-start flex-col items-start">
            <p class="cursor-pointer text-sm leading-5">Fabian Sellemond</p>
            <a href="mailto:office@software-sellemond.com" class="cursor-pointer text-xs leading-3">office@software-sellemond.com</a>
          </div>
        </div>
        <svg *ngIf="isDarkModeEnabled()" (click)="disableDarkMode()" xmlns="http://www.w3.org/2000/svg" fill="none"
             viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="w-6 h-6 cursor-pointer">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"/>
        </svg>
        <svg *ngIf="!isDarkModeEnabled()" (click)="enableDarkMode()" xmlns="http://www.w3.org/2000/svg" fill="none"
             viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 cursor-pointer">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z"/>
        </svg>
      </div>
    </div>
  </section>
  <section
    class="block lg:hidden sticky top-0 z-50 flex flex-wrap justify-between px-10 py-4 border-b
    bg-base-light-a dark:bg-base-dark-a dark:border-accent-dark dark:text-text-dark">
    <div (click)="viewPortScroller.scrollToAnchor(i.componentId)"
         *ngFor="let i of navigationItems"
         class="flex items-center gap-2 cursor-pointer"
         [ngClass]="{ 'underline decoration-accent-light dark:decoration-accent-dark': currentlyVisibleComponentId === i.componentId }">
      <div [innerHTML]="htmlSanitizer.sanitize(i.svgHtml)"></div>
      <span>{{ i.title }}</span>
    </div>
  </section>
  <section class="w-full">
    <portfolio-hero [id]="heroNavigationItem.componentId"></portfolio-hero>
    <portfolio-techstack [id]="techstackNavigationItem.componentId"></portfolio-techstack>
    <portfolio-introduction [id]="introductionNavigationItem.componentId"></portfolio-introduction>
    <portfolio-projects [id]="projectsNavigationItem.componentId"></portfolio-projects>
    <components-ui-footer (clickedBackToTop)="viewPortScroller.scrollToAnchor(heroNavigationItem.componentId)"
    ></components-ui-footer>
  </section>
</div>
