<button (click)="toggleDarkMode()">dark</button>
<div class="flex flex-col lg:flex-row">
  <section class="hidden lg:block">
    <div class="flex flex-col w-64 h-full px-4 py-8 bg-white border-r dark:bg-gray-800 dark:border-gray-600">
      <h2 class="text-3xl font-semibold text-gray-800 dark:text-white">Portfolio</h2>

      <div class="flex flex-col justify-between flex-1 mt-6">
        <nav class="sticky top-6">
          <a *ngFor="let i of navigationItems"
             [ngClass]="{ 'dark:text-gray-50': currentlyVisibleComponentId === i.componentId }"
             class="flex items-center px-4 py-2 mt-5 text-gray-600 transition-colors duration-200 transform rounded-md
              dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 dark:hover:text-gray-200 hover:text-gray-700"
             (click)="viewPortScroller.scrollToAnchor(i.componentId)">
            <div [innerHTML]="sanitize(i.svgHtml)"></div>
            <span class="mx-4 font-medium">{{ i.title }}</span>
          </a>
        </nav>
      </div>
    </div>
  </section>
  <section
    class="block lg:hidden sticky top-0 z-50 flex flex-wrap justify-between px-10 py-4 border-b dark:bg-gray-800
    dark:border-gray-600 dark:text-gray-400">
    <div (click)="viewPortScroller.scrollToAnchor(i.componentId)"
         *ngFor="let i of navigationItems"
         class="flex items-center gap-2 cursor-pointer"
         [ngClass]="{ 'dark:text-gray-200': currentlyVisibleComponentId === i.componentId }">
      <div [innerHTML]="sanitize(i.svgHtml)"></div>
      <span>{{ i.title }}</span>
    </div>
  </section>
  <section class="w-full">
    <portfolio-hero [id]="heroNavigationItem.componentId"></portfolio-hero>
    <portfolio-techstack [id]="techstackNavigationItem.componentId"></portfolio-techstack>
    <portfolio-introduction [id]="introductionNavigationItem.componentId"></portfolio-introduction>
    <portfolio-projects [id]="projectsNavigationItem.componentId"></portfolio-projects>
    <components-ui-footer></components-ui-footer>
  </section>
</div>
