@import '@animxyz/core';

@tailwind base;
@tailwind components;
@tailwind utilities;

@include xyz-core;
@include xyz-utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --color-primary-light: theme('colors.gray.50');
    --color-primary-dark: theme('colors.zinc.900');

    --color-accent-light: theme('colors.sky.500');
    --color-accent-dark: theme('colors.sky.700');

    --color-base-light-a: theme('colors.gray.200');
    --color-base-dark-a: theme('colors.zinc.800');

    --color-base-light-b: theme('colors.gray.300');
    --color-base-dark-b: theme('colors.zinc.900');

    --color-text-light: theme('colors.gray.800');
    --color-text-dark: theme('colors.zinc.100');
  }
}
